In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import folium

In [59]:
import pandas as pd
dataset = '825230136_Data_Mentah.xlsx'

df_data = pd.read_excel(dataset)
df_data.head()

     TANGGAL  TN    TX  TAVG RH_AVG    RR   SS FF_X  DDD_X FF_AVG DDD_CAR
0 2010-01-01  24  32.4  26.8     86   9.8  2.7    9  180.0      3      NW
1 2010-01-02  25  33.2    27     82     1  2.9    3  315.0      2      NW
2 2010-01-03  24  33.4  27.3     84  8888  5.4    4   45.0      2      N
3 2010-01-04  24  33.6  27.5     84     7  5.5    3  270.0      2      W
4 2010-01-05  23  30.9  25.9     90   9.6  4.3    3  315.0      2      NW

In [60]:
df_data.head(4)

     TANGGAL  TN    TX  TAVG RH_AVG    RR   SS FF_X  DDD_X FF_AVG DDD_CAR
0 2010-01-01  24  32.4  26.8     86   9.8  2.7    9  180.0      3      NW
1 2010-01-02  25  33.2    27     82     1  2.9    3  315.0      2      NW
2 2010-01-03  24  33.4  27.3     84  8888  5.4    4   45.0      2      N
3 2010-01-04  24  33.6  27.5     84     7  5.5    3  270.0      2      W

In [61]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5479 entries, 0 to 5478
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   TANGGAL  5479 non-null   datetime64[ns]
 1   TN       5473 non-null   object
 2   TX       5473 non-null   object
 3   TAVG     5473 non-null   object
 4   RH_AVG   5473 non-null   object
 5   RR       5473 non-null   object
 6   SS       5473 non-null   object
 7   FF_X     5473 non-null   object
 8   DDD_X    5473 non-null   float64
 9   FF_AVG   5473 non-null   object
 10  DDD_CAR  5473 non-null   object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 471.0+ KB

In [62]:
df_data.describe()

                             TANGGAL        DDD_X
count                           5479  5473.000000
mean   2017-07-01 23:59:59.999999744   176.643157
min              2010-01-01 00:00:00     0.000000
25%              2013-10-01 12:00:00   110.000000
50%              2017-07-02 00:00:00   160.000000
75%              2021-04-01 12:00:00   260.000000
max              2024-12-31 00:00:00   360.000000
std                              NaN    88.306852

In [63]:
df_data.columns

Index(['TANGGAL', 'TN', 'TX', 'TAVG', 'RH_AVG', 'RR', 'SS', 'FF_X', 'DDD_X',
       'FF_AVG', 'DDD_CAR'],
      dtype='object')

In [64]:
df_data.isna().sum()

TANGGAL    0
TN         6
TX         6
TAVG       6
RH_AVG     6
RR         6
SS         6
FF_X       6
DDD_X      6
FF_AVG     6
DDD_CAR    6
dtype: int64

In [65]:
#menghitung presentase nilai yang hilang
df_data.isna().sum()/len(df_data)*100

TANGGAL    0.000000
TN         0.109509
TX         0.109509
TAVG       0.109509
RH_AVG     0.109509
RR         0.109509
SS         0.109509
FF_X       0.109509
DDD_X      0.109509
FF_AVG     0.109509
DDD_CAR    0.109509
dtype: float64

In [66]:
df_data.replace

<bound method NDFrame.replace of         TANGGAL    TN    TX  TAVG RH_AVG    RR   SS FF_X  DDD_X FF_AVG DDD_CAR
0    2010-01-01    24  32.4  26.8     86   9.8  2.7    9  180.0      3      NW
1    2010-01-02    25  33.2    27     82     1  2.9    3  315.0      2      NW
2    2010-01-03    24  33.4  27.3     84  8888  5.4    4   45.0      2      N
3    2010-01-04    24  33.6  27.5     84     7  5.5    3  270.0      2      W
4    2010-01-05    23  30.9  25.9     90   9.6  4.3    3  315.0      2      NW
...         ...   ...   ...   ...    ...   ...  ...  ...    ...    ...     ...
5474 2024-12-27  23.4  32.2  27.2     89  37.5  0.4    3  280.0      1       C
5475 2024-12-28  24.7  32.8  27.1     92  8888  2.4    4  310.0      1       C
5476 2024-12-29  23.5  34.4  26.4     88   4.2  1.7    6  160.0      2       W
5477 2024-12-30  22.7    33  26.3     88  59.5  5.5    5  300.0      1       C
5478 2024-12-31  22.8  32.4  27.5     83   0.3  5.1    4  270.0      1       W

[5479 rows x 11 columns]>

In [67]:
import numpy as np
df_data.replace(8888,np.nan, inplace=True)
df_data.replace(9999,np.nan, inplace=True)
df_data.replace('-',np.nan, inplace=True)

<ipython-input-67-7659301f08a6>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_data.replace('-',np.nan, inplace=True)

In [68]:
df_data.isna().sum()/len(df_data)*100

TANGGAL     0.000000
TN          3.340026
TX          2.153678
TAVG        0.492791
RH_AVG      0.438036
RR         29.001643
SS          4.635882
FF_X        0.127761
DDD_X       0.109509
FF_AVG      0.146012
DDD_CAR     0.109509
dtype: float64

In [69]:
df_data = df_data.ffill()
df_data = df_data.bfill()

In [70]:
df_data.isna().sum()/len(df_data)*100

TANGGAL    0.0
TN         0.0
TX         0.0
TAVG       0.0
RH_AVG     0.0
RR         0.0
SS         0.0
FF_X       0.0
DDD_X      0.0
FF_AVG     0.0
DDD_CAR    0.0
dtype: float64

In [71]:
df_data.to_excel('825230136_Data_Bersih.xlsx', index=False)